<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <pattern>%d TECH %highlight(%-5level) [%thread] %logger{0} sessionId=%X{sessionId} requestId=%X{requestId}: %msg%n</pattern>
        </encoder>


            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <logger>logger</logger>
                    <thread>thread</thread>
                    <message>message</message>
                    <level>severity</level>
                    <levelValue>[ignore]</levelValue>
                    <version>[ignore]</version>
                </fieldNames>
            </encoder>

    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>